# --- Python ビルド・一時ファイル ---
# PyInstaller などによって生成されるフォルダ
build/
dist/
*.pyc
__pycache__/
*.egg-info/
.eggs/

# --- Python 仮想環境 ---
venv/
env/
ENV/
.venv
.venv/

# --- 外部バイナリ・実行ファイル ---
yt-dlp.exe

# --- IDE・エディタ関連 ---
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.project
.pydevproject
.settings/
*.sublime-workspace
.env

# --- ログ・キャッシュファイル ---
*.log
.pytest_cache/
.coverage
htmlcov/
dist_info/

# --- その他 ---